@import 'variables';

.cheza {
  position: relative;

  .cheza__controls--top {
    position: absolute;
    top: 0;
  }

  .cheza__progress--container {
    position: absolute;
    bottom: 48px;
    height: 24px;
    width: calc(100% - 48px);
    left: 24px;
    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 0.75;
    }

    .progress_inline {
      position: absolute;
      border-radius: 4px;
      bottom: calc(50% - 2px);
      height: 4px;
      width: 100%;
      background-color: $primaryColor2;
      .progress {
        position: absolute;
        border-radius: 4px;
        bottom: calc(50% - 2px);
        height: 4px;
        width: 0;
        background-color: $primaryColor1;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .cheza__button--hide {
    display: none;
  }

  .cheza__controls--bottom {
    position: absolute;
    bottom: 0;
  }

  .cheza__button--hide {
    display: none;
  }

  .cheza-button {
    border: 0 none;
    margin: 4px;
    padding: 4px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      svg {
        background-color: $primaryColor1;
      }
    }
    &.hidden {
      display: none;
    }
    svg {
      border-radius: 4px;
      padding: 4px;
      fill: #fff;
      height: 24px;
      width: 24px;
    }
  }
  video {
    width: 1280px;
    height: 720px;
  }
}

