@import 'variables';
@import 'loading-spinner';

.cheza {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  video {
    margin: auto;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
  }

  .default-ui {
    height: 100%;
  }

  .controls-top {
    position: absolute;
    top: 0;
  }

  .progress-container {
    position: absolute;
    bottom: 48px;
    height: 24px;
    width: calc(100% - 48px);
    left: 24px;
    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 0.75;
    }

    .progress-inline {
      position: absolute;
      border-radius: 4px;
      bottom: calc(50% - 2px);
      height: 4px;
      width: 100%;
      background-color: $primaryColor2;
      .progress {
        position: absolute;
        border-radius: 4px;
        bottom: calc(50% - 2px);
        height: 4px;
        width: 0;
        background-color: $primaryColor1;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        user-select: none;
      }
    }
  }

  .hidden {
    display: none;
  }

  .controls-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #000;
    background: linear-gradient(#0000,#000000bf);

    .button-enter-fullscreen,
    .button-exit-fullscreen {
      position: absolute;
      right: 0;
    }
  }

  .button {
    border: 0 none;
    margin: 4px;
    padding: 4px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      svg {
        background-color: $primaryColor1;
      }
    }
    &.hidden {
      display: none;
    }
    svg {
      border-radius: 4px;
      padding: 4px;
      fill: #fff;
      height: 24px;
      width: 24px;
    }
  }
}

